{%- macro memory_definition(node) %}
/* ------------------------------------------------------------------------------------------------
Register definition for: {{get_fully_qualified_type_name(node)}}

{{get_table_block(node)}}
------------------------------------------------------------------------------------------------ */
{%- endmacro -%}
